. {
   text-decoration: none; 
}

.navbar {
  background-color: #f5f5f5; /* Set a light gray background color */
  color: #333; /* Set the text color to dark gray */
  padding: 15px; /* Add some padding on all sides */
  display: flex;
  justify-content: space-between; /* Align items to the start and end */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.logo {
  text-decoration: none;
  color: #050506; /* Set the text color for the logo to blue */
  font-size: 24px; /* Increase the font size of the text */
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Uppercase the text */
}

.logo--text {
    text-decoration: solid !important;
    color: #050506;
    font-size: 30px;
}